.periodicCell {
  text-align: center;
  background-color: #ffffff;
  border: 1px solid black;
  width: 100px;
}
.periodicPop {
  text-align: center;
  background-color: #ffffff;
  border: 1px solid black;
  width: 250px;
  margin: 0 auto;
  position: relative;
  height: 250px;
}
.clear {
  clear: both;
}
.baseLeftText {
  text-align: left;
  margin: 2px 10px;
  float: left;
  font-size: 10px;
}
.popLeftText {
  text-align: left;
  margin: 2px 10px;
  float: left;
  font-size: 10px;
  font-size: 28px;
  left: 2px;
}
.baseRightText {
  text-align: right;
  float: right;
  margin: 2px 10px;
  font-size: 10px;
}
.popRightText {
  text-align: right;
  float: right;
  margin: 2px 10px;
  font-size: 10px;
  font-size: 28px;
}
.atomicNumber {
  text-align: left;
  margin: 2px 10px;
  float: left;
  font-size: 10px;
}
.atomicNumberPop {
  text-align: left;
  margin: 2px 10px;
  float: left;
  font-size: 10px;
  font-size: 28px;
  left: 2px;
  font-weight: bold;
}
.atomicWeight {
  text-align: right;
  float: right;
  margin: 2px 10px;
  font-size: 10px;
}
.atomicWeightPop {
  text-align: right;
  float: right;
  margin: 2px 10px;
  font-size: 10px;
  font-size: 28px;
  font-weight: bold;
}
.meltingPoint {
  text-align: left;
  margin: 2px 10px;
  float: left;
  font-size: 10px;
  font-size: 28px;
  left: 2px;
  top: 34%;
  position: absolute;
  clear: both;
}
.boilingPoint {
  text-align: left;
  margin: 2px 10px;
  float: left;
  font-size: 10px;
  font-size: 28px;
  left: 2px;
  top: 17%;
  position: absolute;
  clear: both;
}
.elctroNeg {
  text-align: left;
  margin: 2px 10px;
  float: left;
  font-size: 10px;
  font-size: 28px;
  left: 2px;
  position: absolute;
  top: 51%;
}
.density {
  float: right;
  margin: 2px 10px;
  font-size: 10px;
  font-size: 28px;
  position: absolute;
  top: 17%;
  text-align: right;
  right: 5px;
}
.atomicSymbol {
  font-weight: bold;
  text-align: center;
  font-size: 25px;
}
.atomicSymbolPop {
  font-weight: bold;
  text-align: center;
  font-size: 25px;
  text-align: right;
  position: absolute;
  font-size: 43px;
  top: 100px;
  right: 5px;
}
.centerElementDisplay {
  font-weight: bold;
  text-align: center;
}
.centerElementDisplayPop {
  font-weight: bold;
  text-align: center;
  font-size: 43px;
  position: absolute;
  bottom: 5px;
  width: 100%;
}
.elecConfig {
  font-weight: bold;
  text-align: center;
  font-weight: normal;
  position: absolute;
  bottom: 50px;
  font-size: 28px;
  width: 100%;
}
.metalloids {
  background-color: aqua;
}
.alkaliMetal {
  background-color: grey;
}
.nonMetal {
  background-color: forestgreen;
}
.nobleGas {
  background-color: darkorange;
}
.halogen {
  background-color: yellow;
}
.alkalineEarth {
  background-color: orangered;
}
.lathanoids {
  background-color: coral;
}
.actinoids {
  background-color: lightcoral;
}
.poorMetal {
  background-color: mediumpurple;
}
