.periodicCell {
  text-align: center;
  background-color: #ffffff;
  border: 1px solid black;
  width: 100px;
}
.periodicPop {
  text-align: center;
  background-color: #ffffff;
  border: 1px solid black;
  width: 250px;
}
.metalloids {
  background-color: aqua;
}
.alkaliMetal {
  background-color: grey;
}
.nonMetal {
  background-color: forestgreen;
}
.nobleGas {
  background-color: darkorange;
}
.halogen {
  background-color: yellow;
}
.alkalineEarth {
  background-color: orangered;
}
.lathanoids {
  background-color: coral;
}
.actinoids {
  background-color: lightcoral;
}
.poorMetal {
  background-color: mediumpurple;
}
.baseLeftText {
  text-align: left;
  font-size: 10px;
}
.popLeftText {
  text-align: left;
  font-size: 28px;
}
.baseRightText {
  text-align: right;
  font-size: 10px;
}
.popRightText {
  text-align: right;
  font-size: 28px;
}
.atomicNumber {
  text-align: left;
  font-size: 10px;
}
.atomicNumberPop {
  text-align: left;
  font-size: 28px;
}
.atomicWeight {
  text-align: right;
  font-size: 10px;
}
.atomicWeightPop {
  text-align: right;
  font-size: 28px;
}
.meltingPoint {
  text-align: left;
  font-size: 28px;
}
.boilingPoint {
  text-align: left;
  font-size: 28px;
}
.atomicSymbol {
  font-weight: bold;
  font-size: 25px;
}
.atomicSymbolPop {
  font-weight: bold;
  font-size: 43px;
}
.elementName {
  font-weight: bold;
}
.elementNamePop {
  font-weight: bold;
}
