<!DOCTYPE html>
<html data-ng-app>
<head>
    <title>Elements</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css"/>

    <style>
        .tableOdd {
            background-color: green;
        }

        .tableEven {
            background-color: orange;
        }
    </style>
</head>
<body>
<div id="page" class="container">
    <h1>Periodic Elements</h1>
    <pre>&lt;li ng-repeat="element in periodic.elements"&gt;</pre>
    <div id="elements1" data-ng-controller="chemCtrl">
        <ul>
            <li data-ng-repeat="element in periodic.elements">
                {{element.name}} - {{element.atomicWeight}}
            </li>
        </ul>
    </div>
    <pre>&lt;li ng-repeat="element in periodic.elements | limitTo:10"&gt;</pre>
    <div id="elements2" data-ng-controller="chemCtrl">
        <ul>
            <li data-ng-repeat="element in periodic.elements|limitTo:10 ">
                {{element.name}}
            </li>
        </ul>
    </div>
    <pre>&lt;li ng-repeat="element in periodic.elements |  filter:elementName"&gt;</pre>
    <input type="text" data-ng-model="elementName"/>

    <div id="elements3" data-ng-controller="chemCtrl">
        <ul>
            <li data-ng-repeat="element in periodic.elements | filter:elementName">
                {{element.name}}
            </li>
        </ul>
    </div>
    <pre>&lt;li ng-repeat="element in periodic.elements |  filter:{name:elementNameOnly}"&gt;</pre>
    <input type="text" data-ng-model="elementNameOnly"/>

    <div id="elements4" data-ng-controller="chemCtrl">
        <ul>
            <li data-ng-repeat='element in periodic.elements | filter:{name:elementNameOnly}'>
                {{element.name}}
            </li>
        </ul>
    </div>
</div>

<script type="text/javascript" src="../js/lib/angular.min.js"></script>
<script type="text/javascript" src="js/chemistry.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../bootstrap/js/bootstrap.min.js"></script>
<script src="../js/lib/ui-bootstrap-tpls-0.12.0.min.js"></script>

</body>
<script>
    function chemCtrl($scope) {
        $scope.periodic = periodicData;
    }
</script>
</html>