<td data-ng-class="{tableEven: !($index%2), tableOdd: ($index%2)}"><a href="http://en.wikipedia.org/wiki/{{element.name}}" Title="Wikipedia article on {{element.name}}" target="_top">{{element.name}}</a></td>
<td data-ng-class="{tableEven: !($index%2), tableOdd: ($index%2)}">{{element.atomicNumber}} - {{$index}} - {{($index%2)}} - {{!($index%2)}}</td>
<td data-ng-class="{tableEven: !($index%2), tableOdd: ($index%2)}">{{element.atomicWeight}}</td>
<td data-ng-class="{tableEven: !($index%2), tableOdd: ($index%2)}">{{element.phase}}</td>
<td data-ng-class="{tableEven: !($index%2), tableOdd: ($index%2)}">{{element.melting}}</td>
<td data-ng-class="{tableEven: !($index%2), tableOdd: ($index%2)}">{{element.boiling}}</td>
<td data-ng-class="{tableEven: !($index%2), tableOdd: ($index%2)}">{{element.ionization}} </td>
