<!DOCTYPE html>
<html>
<head>
    <title>Elements - Directives</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/chemistry.css"/>
    <base href="/Demo09-Directives/" />

</head>
<body data-ng-app="chemistryApp" >
    <div class="container" data-ng-controller="chemistryController">
        <h1>Periodic Elements - Directives</h1>
        <div class="row">
        <select ng-model="periodicElement"  ng-options="e.name for e in elements" ng-click="updateController(periodicElement)"></select><br />
        </div>
        <div class="row">
            &nbsp;
        </div>
        <div class="row">
            &nbsp;
        </div>
        <div class="row">
            <div class="col-md-2">
                <periodicchartelement element="periodicElement" csstypeclass="getCssClassElement"></periodicchartelement>
            </div>
            <div class="col-md-3">
                <div class="metalloids"><b>Metalloids</b></div>
                <div class="alkaliMetal"><b>Alkali Metal</b></div>
                <div class="nonMetal"><b>Non Metal</b></div>
                <div class="nobleGas"><b>Noble Gas</b></div>
                <div class="halogen"><b>Halogen</b></div>
                <div class="alkalineEarth"><b>Alkaline Earth</b></div>
                <div class="poorMetal"><b>Poor Metal</b></div>
                <div class="lathanoids"><b>Rare Earth Metal</b></div>
                <div class="actinoids"><b>Transition Metal</b></div>
                <div class="poorMetal"><b>Alkaline Earth Metal</b></div>
            </div>
        </div>
    </div>    <!-- Mention these need to be lower case!-->

    </div>
<script type="text/javascript" src="../js/lib/angular.min.js"></script>
<script type="text/javascript" src="../js/lib/angular-route.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../bootstrap/js/bootstrap.min.js"></script>
    <script src="../js/lib/ui-bootstrap-tpls-0.12.0.min.js"></script>

<script type="text/javascript" src="js/chemistryApp.js"></script>
<script type="text/javascript" src="js/chemistryController.js"></script>
<script type="text/javascript" src="js/chemistryService.js"></script>
<script type="text/javascript" src="js/chemistryDirective.js"></script>

</body>
</html>