<div class='periodicCell' ng-class="cssType" data-ng-hide="fullElement">
    <span class="atomicNumber"><small>{{element.atomicNumber}}</small></span>&nbsp;&nbsp; <span class="atomicWeight">{{element.atomicWeight}}</span><br />
    <span class="atomicSymbol">{{element.symbol}}</span><br />
    <span class="elementName">{{element.name }}</span>
</div>
<div class='periodicPop' ng-class="cssType" data-ng-show="fullElement">
    <span class="atomicNumberPop">{{element.atomicNumber}}</span>&nbsp;&nbsp; <span class="atomicWeightPop">{{element.atomicWeight}}</span><br />
    <span class="atomicSymbolPop">{{element.symbol}}</span><br />
    <span class="meltingPoint">{{element.melting}}</span>&nbsp;&nbsp; <span class="boilingPoint">{{element.boiling}}</span><br />
    <span class="elementNamePop">{{element.name }}</span>

</div>
