<!DOCTYPE html>
<html data-ng-app>
<head>
    <title>Elements</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css"/>
    <script type="text/javascript" src="../js/chemistry.js"></script>
    <script type="text/javascript" src="http://code.angularjs.org/1.2.0-rc.3/angular.js"></script>
    <style>
        .tableOdd {
            background-color: green;
        }
        .tableEven {
            background-color: orange;
        }
    </style>
</head>
<body>
    <b>Periodic Elements</b>
    <pre>&lt;li ng-repeat="element in periodic.elements"&gt;</pre>
    <div id="elements1" data-ng-controller="chemCtrl" >
        <ul>
            <li data-ng-repeat="element in periodic.elements">
                {{element.name}} - {{element.atomicWeight}}
            </li>
        </ul>
    </div>
    <pre>&lt;li ng-repeat="element in periodic.elements | limitTo:10"&gt;</pre>
    <div id="elements2" data-ng-controller="chemCtrl" >
        <ul>
            <li data-ng-repeat="element in periodic.elements|limitTo:10 ">
                {{element.name}}
            </li>
        </ul>
    </div>
    <pre>&lt;li ng-repeat="element in periodic.elements |  filter:elementName"&gt;</pre>
    <input type="text" data-ng-model="elementName"/>
    <div id="elements3" data-ng-controller="chemCtrl" >
        <ul>
            <li data-ng-repeat="element in periodic.elements | filter:elementName">
                {{element.name}}
            </li>
        </ul>
    </div>
    <pre>&lt;li ng-repeat="element in periodic.elements |  filter:{name:elementNameOnly}"&gt;</pre>
    <input type="text" data-ng-model="elementNameOnly"/>
    <div id="elements4" data-ng-controller="chemCtrl" >
        <ul>
            <li data-ng-repeat='element in periodic.elements | filter:{name:elementNameOnly}'>
                {{element.name}}
            </li>
        </ul>
    </div>

</body>
<script>
    function chemCtrl($scope) {
        $scope.periodic = perioicData;
    }
</script>
</html>